<div class="footer">
    <div class="about">
        <h3 class="about_heading">ABOUT</h3>
        We are your connection with the creative underworld
        This is the initiative to share the best with you, create better and learn
        Through the experience i had in my academic years and taking you on a ride of distinguish
        Respective field
        Let's create more, think more and grow together!!
    </div>
    <div class="line"></div>
    <div class="copyright"> ©
        <script>document.write(new Date().getFullYear())</script> all rights reserved.
    </div>
    <div class="email">email:<span class="mailid">workwithanubhuti@gmail.com</span>
    </div>
</div>