<nav class="navbar">
    <span class="logo">Anubhuti Bhardwaj</span>
    <div class="openmenu" onclick="openmenu()">
        <span class="material-symbols-outlined">
            menu
        </span>
    </div>
    <div class="closemenu" onclick="closemenu()">
        <span class="material-symbols-outlined">
            close
        </span>
    </div>
    <div class="mainnavdiv">
        <span class="navdiv">
            <a class="navlink" href="/"><span class="navtext">
                    Home
                </span></a>
        </span>
        <span class="navdiv">
            <a class="navlink" href="#"><span class="navtext">
                    Project
                </span></a>
        </span>
        <span class="navdiv">
            <a class="navlink" href="/blog"><span class="navtext">
                    Blog
                </span></a>
        </span>
        <span class="navdiv">
            <a class="navlink" href="#"><span class="navtext">
                    Study Material
                </span></a>
        </span>
        <span class="navdiv">
            <a class="navlink" href="#"><span class="navtext">
                    About
                </span></a>
        </span>

    </div>
</nav>