<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anubhuti Bhardwaj</title>
    <link rel="stylesheet" type="text/css" href="/styles/study material.css" />
    <link rel="stylesheet" type="text/css" href="/styles/navbar_version2.css" />
    <link rel="stylesheet" type="text/css" href="/styles/footer.css" />
    <script src="https://kit.fontawesome.com/4fb9d56898.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="page_layer1">
        <div class="page_layer2">
            <div class="section">
                <%- include('partials/navbar')%>
                    <div class="home4">
                        <h2 class="home4_heading">choose your year / semester</h2>

                        <div class="home4_card_container">

                            <a href="/StudyMaterial/BJMC_Notes/BJMC_1st_year_notes" class="card_link">
                                <div class="home4_card">
                                    <div class="card_image_div">
                                        <img class="card_image" src="https://leverageedublog.s3.ap-south-1.amazonaws.com/blog/wp-content/uploads/2019/10/23170401/Types-of-Mass-Communication.jpg"
                                            alt="BJMC 1st year notes">
                                    </div>

                                    <h1 class="card_title">
                                        BJMC 1st YEAR (1 & 2 semester) NOTES
                                    </h1>

                                    <p class="card_description">
                                       Unit-wise notes for 1 & 2 sem. 
                                    </p>
                                
                                
                                </div>
                            </a>

                        </div>


                    </div>
                    <%- include('partials/footer')%>
            </div>
        </div>
    </div>

    <script src="/scripts/navbar_version2.js"></script>
</body>

</html>