<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anubhuti Bhardwaj</title>
    <link rel="stylesheet" type="text/css" href="/styles/study material.css" />
    <link rel="stylesheet" type="text/css" href="/styles/navbar_version2.css" />
    <link rel="stylesheet" type="text/css" href="/styles/footer.css" />
    <script src="https://kit.fontawesome.com/4fb9d56898.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <div class="page_layer1">
        <div class="page_layer2">
            <div class="section">
                <%- include('partials/navbar')%>
                    <div class="home4">
                        <h2 class="home4_heading">In the end, we only need notes for exam.</h2>

                        <div class="home4_card_container">

                            <a href="/StudyMaterial/BJMC_Notes" class="card_link">
                                <div class="home4_card">
                                    <div class="card_image_div">
                                        <img class="card_image"
                                            src="https://leverageedublog.s3.ap-south-1.amazonaws.com/blog/wp-content/uploads/2020/06/12194832/BJMC-1160x725.jpg"
                                            alt="BJMC notes">
                                    </div>

                                    <h1 class="card_title">
                                        BJMC NOTES & RELATED STUDY MATERIALS
                                    </h1>

                                    <p class="card_description">
                                        Here, I will provide you the BJMC year-wise notes and supplement notes of entire
                                        syllabus for your university exams.
                                    </p>

                                </div>
                            </a>

                        </div>


                    </div>
                    <%- include('partials/footer')%>
            </div>
        </div>
    </div>

    <script src="/scripts/navbar_version2.js"></script>
</body>

</html>